<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="com.thoughtworks.twist.mingle.repository"
         point="org.eclipse.mylyn.tasks.ui.repositories">
      <connectorCore
            class="com.thoughtworks.twist.mingle.core.MingleRepositoryConnector"
            id="com.thoughtworks.twist.mingle.tasklist.repositories"
            name="Mingle Connector">
      </connectorCore>
      <connectorUi
            brandingIcon="icons/mingle-logo.gif"
            class="com.thoughtworks.twist.mingle.ui.MylynRepositoryConnectorUi"
            overlayIcon="icons/mingle-overlay.gif">
      </connectorUi>
   </extension>
   <extension
         point="org.eclipse.mylyn.tasks.ui.editors">
      <pageFactory
            class="com.thoughtworks.twist.mingle.ui.MylynTaskEditorPageFactory"
            id="com.thoughtworks.twist.mingle.ui.pageFactory">
      </pageFactory>
   </extension>

</plugin>
